.heading {
  /* margin: 0;
    padding: 20px;
    background-color: 
  rgb(228, 181, 11);
    color: 
  white;
    text-align: center; */
  margin-bottom: 0 !important;
  padding: 0px;
  background-color: white;
  color: white;
  text-align: center;
  top: 0;
  left: 0;

  height: 72px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 32px;
}

.vertical-line {
  user-select: none;
  /* display: inline-block;
  position: absolute; */
  top: 18px;
  height: 32px;
  border-left: 1px solid #d9dbe9;
  text-align: center;
  vertical-align: middle;
}
p {
  text-align: center;
  color: #1d42ba;
  user-select: none;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: 32px;
  line-height: 32px;
  margin-block: 0;
  margin-left: 8px;
  font-weight: bold;
  
  align-items: center;
  margin-bottom: 0!important;
}
span {
  margin-left: 0!important;
  color: #ec1c24;
}
.ibb-logo{
  margin-right: 9px;
}
